{% extends "base.html" %}
{% block title %} Profil autora {% endblock %}
{% block content %}
    <div class="my-container">
        <div class="mt-4 ml-4 mr-4">
            <div class="row border-bottom border-3 my-header-row">
                <div class="col-6 mb-2 my-header-col">
                    <h4 class="color-header">{{ author }}</h4>
                </div>
                <div class="col-6 d-flex justify-content-end mb-2 my-header-col">
                    {% if current_user.is_authenticated and current_user.status.name == admin %}
                    <a href="{{ url_for('main.author_edit', author_id=author.id) }}" class="btn btn-success my-button">Edytuj</a>
                    <a href="{{ url_for('main.author_delete', author_id=author.id) }}" class="btn btn-danger my-button">Usuń</a>
                    {% endif %}
                    <a href="{{ url_for('main.authors') }}" class="btn btn-info my-button">Autorzy</a>
                </div>
            </div>
            {% for category, message in get_flashed_messages(with_categories=true) %}
            {% if loop.last %}
            <div class="row my-alert-area">
                <div class="col-12 alert alert-{{ category }}" role="alert">
                    {{ message }}
                    <button type="button" class="btn btn-{{ category }} my-button-close" data-dismiss="alert">X</button>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <div class="row">
                <div class="col-9">                        
                    <div class="row my-row">
                        <div class="col-4 my-bold-text">Imię i nazwisko (pseudonim):</div>
                        <div class="col-8">{{ author.name }}</div>
                    </div>
                    <div class="row my-row">
                        <div class="col-4 my-bold-text">Data urodzenia:</div>
                        <div class="col-8">{{ author.date_of_birth.strftime('%d.%m.%Y') }}</div>
                    </div>
                    <div class="row my-row">
                        <div class="col-4 my-bold-text">Data śmierci:</div>
                        <div class="col-8">
                            {% if author.date_of_death %} 
                            {{ author.date_of_death.strftime('%d.%m.%Y') }} 
                            {% else %} 
                            (brak danych) 
                            {% endif %}
                        </div>
                    </div>
                    <div class="row my-row">
                        <div class="col-4 my-bold-text">Książki:</div>
                        <div class="col-8">
                            <ul class="list-group">
                                <div class="row">
                                    {% for book in author.books %}
                                    <div class="col-6">
                                        <li class="my-list">
                                            <a href="{{ url_for('main.book_profile', book_id=book.id) }}" 
                                                class="my-link">"{{ book.title }}"</a>
                                        </li>
                                    </div>
                                    {% endfor %}
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <img class="rounded mx-auto d-block img-thumbnail" 
                    src="{{ url_for('static', filename='images/author_profile.jpg') }}" alt="Author profile photo">
                </div>
            </div>
        </div>                
    </div>
{% endblock content %}