{% extends "base.html" %}
{% block title %} Zmień uprawnienia {% endblock %}
{% block content %}
    <div class="container my-container">
        <div class="mt-4 ml-4 mr-4">
            <form method="POST">
                {{ form.csrf_token }}
                <div class="row border-bottom border-3 my-header-row">
                    <div class="col-sm-9 mb-2 my-header-col">
                        <h4 class="color-header">Zmień uprawnienia - {{ user }}</h4>
                    </div>
                    <div class="col-sm-3 d-flex justify-content-end mb-2 my-header-col">
                        <h5 class="color-header">{{ user.status.value }}</h5>
                        {{ form.submit(class="btn btn-success my-button") }}
                        <a href="{{ url_for('main.profile_user', user_id=user.id) }}" class="btn btn-info my-button">Anuluj</a>
                    </div>
                </div>
                {% for category, message in get_flashed_messages(with_categories=true) %}
                {% if loop.last %}
                <div class="row">
                    <div class="col-sm-12 alert alert-{{ category }} text-center my-alert">
                        {{ message }}
                        <button type="button" class="btn btn-{{ category }} my-close" data-dismiss="alert">X</button>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <div class="form-group row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6 my-input-area">
                        {{ form.status.label(class="label-size col-form-label my-bold-text") }}
                        {{ form.status(class="form-control") }}
                        {% if form.status.errors %}
                        <ul>
                            {% for error in form.status.errors %}
                            <li class="my-error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </form>
        </div>
        <div>                
            <img class="rounded mx-auto d-block img-thumbnail my-style" 
            src="{{ url_for('static', filename='images/change_user.jpg') }}" alt="Change user photo">
        </div>
    </div>
{% endblock content %}