{% extends "base.html" %}
{% block title %} Użytkownicy {% endblock %}
{% block content %}
    <div class="container my-container">
        <div class="mt-4 ml-4 mr-4">
            <form action="{{ url_for('main.users') }}" method="GET">
                <div class="row border-bottom border-3 my-header-row">
                    {% if request.args.search %}
                    <div class="col-sm-6 mb-2 my-header-col">
                        <h4 class="color-header">Wyniki wyszukiwania nazwiska dla "{{ request.args.search }}"</h4>
                    </div>
                    <div class="col-sm-6 d-flex justify-content-end mb-2 my-header-col">
                        <input type="text" class="form-control my-search-input" name="search" {% if request.args.search %} value="{{ request.args.search }}" {% endif %} placeholder="Wyszukaj">
                        <button type="submit" class="btn btn-success my-button">Szukaj</button>
                        <a href="{{ url_for('main.users') }}" class="btn btn-info my-button">Wszyscy</a>
                    </div>
                    {% elif request.args.status == "Admin" %}
                    <div class="col-sm-6 mb-2 my-header-col">
                        <h4 class="color-header">Wszyscy administratorzy w bazie</h4>
                    </div>
                    <div class="col-sm-6 d-flex justify-content-end mb-2 my-header-col">
                        <a href="{{ url_for('main.users') }}" class="btn btn-info my-button">Klienci</a>
                    </div>
                    {% else %}
                    <div class="col-sm-6 mb-2 my-header-col">
                        <h4 class="color-header">Wszyscy użytkownicy w bazie</h4>
                    </div>
                    <div class="col-sm-6 d-flex justify-content-end mb-2 my-header-col">
                        <input type="text" class="form-control my-search-input" name="search" {% if request.args.search %} value="{{ request.args.search }}" {% endif %} placeholder="Wyszukaj">
                        <button type="submit" class="btn btn-success my-button">Szukaj</button>
                        <a href="{{ url_for('main.users') }}?status=Admin" class="btn btn-info my-button">Admini</a>
                    </div>
                    {% endif %}
                </div>
            </form>
            <table class="table">
                <thead>
                    <tr class="d-flex flex-wrap">
                        <th class="col-sm-1">Lp.</th>
                        <th class="col-sm-2">Imię</th>
                        <th class="col-sm-3">Nazwisko</th>
                        <th class="col-sm-3">Email</th>
                        <th class="col-sm-2">Nr. telefonu</th>
                        <th class="col-sm-1 text-center">#</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users_list %}
                    <tr class="d-flex flex-wrap my-table">
                        <td class="col-sm-1">{{ loop.index }}</td>
                        <th class="col-sm-2">{{ user.first_name }}</th>
                        <th class="col-sm-3">{{ user.last_name }}</th>
                        <td class="col-sm-3">{{ user.email }}</td>
                        <td class="col-sm-2">
                            {% if user.phone_number %} (+48) {{ user.phone_number }} {% else %} (brak danych) {% endif %}
                        </td>
                        <td class="col-sm-1 text-center">
                            <a href="{{ url_for('main.user_profile', user_id=user.id) }}" class="my-link">Profil</a>
                        </td>
                    </tr>
                    {% else %}
                    <tr class="d-flex flex-wrap">
                        <th colspan="6" class="col-sm-12">
                            {% if request.args.search %}
                                Brak szukanych użytkowników w bazie danych !!!
                            {% else %}
                                Brak użytkowników w bazie danych !!!
                            {% endif %}
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>         
    </div>
{% endblock content %}