{% extends "base.html" %}
{% block title %} Historia wypożyczeń {% endblock %}
{% block content %}
    <div class="my-container">
        <div class="mt-4 ml-4 mr-4">
            <div class="row border-bottom border-3 my-header-row">
                <div class="col-6 mb-2 my-header-col">
                    <h4 class="color-header">Moje wypożyczenia</h4>
                </div>
                <div class="col-6 d-flex justify-content-end mb-2 my-header-col">
                    {% if loaned == 'True' %}
                    <h5 class="color-header">Aktualne</h5>
                    <a href="{{ url_for('auth.user_loan') }}?loaned=False" class="btn btn-success my-button">Wszystkie</a>
                    {% else %}
                    <h5 class="color-header">Wszystkie</h5>
                    <a href="{{ url_for('auth.user_loan') }}?loaned=True" class="btn btn-success my-button">Aktualne</a>
                    {% endif %}
                    <a href="{{ url_for('auth.user') }}" class="btn btn-info my-button">Profil</a>
                </div>
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr class="d-flex flex-wrap">
                            <th class="col-1">Lp.</th>
                            <th class="col-5">Tytuł</th>
                            <th class="col-3 text-center">Data Wypożyczenia</th>
                            <th class="col-3 text-center">Data Zwrotu</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for loan in loan_list %}
                        <tr class="d-flex flex-wrap my-table">
                            <td class="col-1">{{ loop.index }}</td>
                            <th class="col-5">
                                <a href="{{ url_for('main.book_profile', book_id=loan.book.id) }}" class="my-link">{{ loan.book }}</a>
                            </th>
                            <td class="col-3 text-center">{{ loan.loan_date.strftime('%d.%m.%Y') }}</td>
                            <td class="col-3 text-center">
                                {% if loan.return_date %} 
                                    {{ loan.return_date.strftime('%d.%m.%Y') }} 
                                {% else %} 
                                    Brak zwrotu ! 
                                {% endif %}
                            </td>
                        </tr>
                        {% else %}
                        <tr class="d-flex flex-wrap">
                            <th colspan="4" class="col-12">
                                {% if request.args.get('loaned') %}
                                    Brak aktualnie wypożyczonych egzemplarzy !!!
                                {% else %}
                                    Brak historii wypożyczeń !!!
                                {% endif %}
                            </th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>                     
            </div>
        </div>                
    </div>
{% endblock content %}