{% extends "base.html" %}
{% block title %} Użytkownicy {% endblock %}
{% block content %}
    <div class="my-container">
        <div class="mt-4 ml-4 mr-4">
            <form method="GET">
                <div class="row border-bottom border-3 my-header-row">
                    {% if request.args.status == admin %}
                    <div class="col-6 mb-2 my-header-col">
                        <h4 class="color-header">Wszyscy administratorzy</h4>
                    </div>
                    <div class="col-6 d-flex justify-content-end mb-2 my-header-col">
                        <a href="{{ url_for('main.users') }}" class="btn btn-info my-button">Klienci</a>
                    </div>
                    {% else %}
                    <div class="col-6 mb-2 my-header-col">
                        {% if request.args.search %}
                        <h4 class="color-header">Wyniki wyszukiwania: "{{ request.args.search }}"</h4>
                        {% else %}
                        <h4 class="color-header">Wszyscy użytkownicy</h4>
                        {% endif %}
                    </div>
                    <div class="col-6 d-flex justify-content-end mb-2 my-header-col">
                        <input type="text" class="form-control my-search-input" name="search" {% if request.args.search %} value="{{ request.args.search }}" {% endif %} placeholder="Wyszukaj">
                        <button type="submit" class="btn btn-success my-button">Szukaj</button>
                        <a href="{{ url_for('main.users') }}?status={{ admin }}" class="btn btn-info my-button">Admini</a>
                    </div>
                    {% endif %}
                </div>
            </form>
            <table class="table">
                <thead>
                    <tr class="d-flex flex-wrap">
                        <th class="col-1">Lp.</th>
                        <th class="col-lg-3 col-md-3 col-sm-2">Imię</th>
                        <th class="col-lg-3 col-md-3 col-sm-3">Nazwisko</th>
                        <th class="col-lg-3 col-md-3 col-sm-3">Email</th>
                        <th class="col-lg-2 col-md-2 col-sm-3 text-center">Nr. telefonu</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users_list %}
                    <tr class="d-flex flex-wrap my-table">
                        <td class="col-1">{{ loop.index }}</td>
                        <th class="col-lg-3 col-md-3 col-sm-2">{{ user.first_name }}</th>
                        <th class="col-lg-3 col-md-3 col-sm-3">{{ user.last_name }}</th>
                        <td class="col-lg-3 col-md-3 col-sm-3">
                            <a href="{{ url_for('main.user_profile', user_id=user.id) }}" class="my-link">{{ user.email }}</a>
                        </td>
                        <td class="col-lg-2 col-md-2 col-sm-3 text-center">
                            {% if user.phone_number %} (+48) {{ user.phone_number }} {% else %} (brak danych) {% endif %}
                        </td>
                    </tr>
                    {% else %}
                    <tr class="d-flex flex-wrap">
                        <th colspan="5" class="col-12">
                            {% if request.args.search %}
                                Brak szukanych użytkowników w bazie danych !!!
                            {% else %}
                                Brak użytkowników w bazie danych !!!
                            {% endif %}
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>         
    </div>
{% endblock content %}