{% extends "base.html" %}
{% block title %} Rejestracja {% endblock %}
{% block content %}
    <div class="my-container">
        <div class="mt-4 ml-4 mr-4">
            <form method="POST">
                {{ form.csrf_token }}
                <div class="row border-bottom border-3 my-header-row">
                    <div class="col-6 mb-2 my-header-col">
                        <h4 class="color-header">Rejestracja</h4>
                    </div>
                    <div class="col-6 d-flex justify-content-end mb-2 my-header-col">
                        {{ form.submit(class="btn btn-success my-button") }}
                        <a href="{{ url_for('main.index') }}" class="btn btn-info my-button">Anuluj</a>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2 col-md-1 col-sm-0"></div>
                    <div class="col-lg-4 col-md-5 col-sm-6 my-input-area">
                        {{ form.first_name.label(class="label-size col-form-label my-bold-text") }}
                        {{ form.first_name(class="form-control") }}
                        {% if form.first_name.errors %}
                        <ul>
                            {% for error in form.first_name.errors %}
                            <li class="my-error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6 my-input-area">
                        {{ form.last_name.label(class="label-size col-form-label my-bold-text") }}
                        {{ form.last_name(class="form-control") }}
                        {% if form.last_name.errors %}
                        <ul>
                            {% for error in form.last_name.errors %}
                            <li class="my-error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-lg-2 col-md-1 col-sm-0"></div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2 col-md-1 col-sm-0"></div>
                    <div class="col-lg-4 col-md-5 col-sm-6 my-input-area">
                        {{ form.email.label(class="label-size col-form-label my-bold-text") }}
                        {{ form.email(class="form-control", placeholder="youremail@example.com") }}
                        {% if form.email.errors %}
                        <ul>
                            {% for error in form.email.errors %}
                            <li class="my-error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6 my-input-area">
                        {{ form.phone_number.label(class="label-size col-form-label my-bold-text") }}
                        {{ form.phone_number(class="form-control") }}
                        {% if form.phone_number.errors %}
                        <ul>
                            {% for error in form.phone_number.errors %}
                            <li class="my-error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-lg-2 col-md-1 col-sm-0"></div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2 col-md-1 col-sm-0"></div>
                    <div class="col-lg-4 col-md-5 col-sm-6 my-input-area">
                        {{ form.password.label(class="label-size col-form-label my-bold-text") }}
                        {{ form.password(class="form-control") }}
                        {% if form.password.errors %}
                        <ul>
                            {% for error in form.password.errors %}
                            <li class="my-error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6 my-input-area">
                        {{ form.repeat_password.label(class="label-size col-form-label my-bold-text") }}
                        {{ form.repeat_password(class="form-control") }}
                        {% if form.repeat_password.errors %}
                        <ul>
                            {% for error in form.repeat_password.errors %}
                            <li class="my-error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-lg-2 col-md-1 col-sm-0"></div>
                </div>
            </form>
            <div class="row">
                <div class="col-lg-2 col-md-1 col-sm-0"></div>
                <div class="col-lg-8 col-md-10 col-sm-12 my-img-area">   
                    <img class="rounded mx-auto d-block img-thumbnail" 
                    src="{{ url_for('static', filename='images/user_form.jpg') }}" alt="User form photo">
                </div>
                <div class="col-lg-2 col-md-1 col-sm-0"></div>
            </div>
        </div>
    </div>
{% endblock content %}