{% extends "base.html" %}
{% block title %} Zmień status {% endblock %}
{% block content %}
    <div class="my-container">
        <div class="mt-4 ml-4 mr-4">
            <form method="POST">
                {{ form.csrf_token }}
                <div class="row border-bottom border-3 my-header-row">
                    <div class="col-6 mb-2 my-header-col">
                        <h4 class="color-header">Zmień status</h4>
                    </div>
                    <div class="col-6 d-flex justify-content-end mb-2 my-header-col">
                        {{ form.submit(class="btn btn-success my-button") }}
                        <a href="{{ url_for('main.user_profile', user_id=user.id) }}" class="btn btn-info my-button">Wstecz</a>
                    </div>
                </div>
                {% for category, message in get_flashed_messages(with_categories=true) %}
                {% if loop.last %}
                <div class="row my-alert-area">
                    <div class="col-12 alert alert-{{ category }}" role="alert">
                        {{ message }}
                        <button type="button" class="btn btn-{{ category }} my-button-close" data-dismiss="alert">X</button>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <div class="form-group row">
                    <div class="col-lg-3 col-md-2 col-sm-1"></div>
                    <div class="col-lg-6 col-md-8 col-sm-10 my-img-area">
                        <div class="row my-row">
                            <div class="col-6 mb-2 my-bold-text">{{ user }}</div>
                            <div class="col-6 d-flex justify-content-end mb-2 my-bold-text">
                                Status: {{ user.status.value }}
                            </div>
                        </div>
                        {{ form.status.label(class="label-size col-form-label my-bold-text") }}
                        {{ form.status(class="form-control") }}
                        {% if form.status.errors %}
                        <ul>
                            {% for error in form.status.errors %}
                            <li class="my-error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-1"></div>
                </div>
            </form>
            <div class="row">
                <div class="col-lg-3 col-md-2 col-sm-1"></div>
                <div class="col-lg-6 col-md-8 col-sm-10 my-img-area">
                    <img class="rounded mx-auto d-block img-thumbnail" 
                        src="{{ url_for('static', filename='images/user_form.jpg') }}" alt="User form photo">
                </div>
                <div class="col-lg-3 col-md-2 col-sm-1"></div>
            </div>
        </div>
    </div>
{% endblock content %}