{% extends "base.html" %}
{% block title %} Zmień hasło {% endblock %}
{% block content %}
    <div class="my-container">
        <div class="mt-4 ml-4 mr-4">
            <form method="POST">
                {{ form.csrf_token }}
                <div class="row border-bottom border-3 my-header-row">
                    <div class="col-6 mb-2 my-header-col">
                        <h4 class="color-header">Zmień hasło</h4>
                    </div>
                    <div class="col-6 d-flex justify-content-end mb-2 my-header-col">
                        {{ form.submit(class="btn btn-success my-button") }}
                        <a href="{{ url_for('auth.user') }}" class="btn btn-info my-button">Wstecz</a>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-3 col-md-2 col-sm-1"></div>
                    <div class="col-lg-6 col-md-8 col-sm-10 my-input-area">
                        {{ form.password.label(class="label-size col-form-label my-bold-text") }}
                        {{ form.password(class="form-control") }}
                        {% if form.password.errors %}
                        <ul>
                            {% for error in form.password.errors %}
                            <li class="my-error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-1"></div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-3 col-md-2 col-sm-1"></div>
                    <div class="col-lg-6 col-md-8 col-sm-10 my-input-area">
                        {{ form.new_password.label(class="label-size col-form-label my-bold-text") }}
                        {{ form.new_password(class="form-control") }}
                        {% if form.new_password.errors %}
                        <ul>
                            {% for error in form.new_password.errors %}
                            <li class="my-error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-1"></div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-3 col-md-2 col-sm-1"></div>
                    <div class="col-lg-6 col-md-8 col-sm-10 my-input-area">
                        {{ form.new_password_repeat.label(class="label-size col-form-label my-bold-text") }}
                        {{ form.new_password_repeat(class="form-control") }}
                        {% if form.new_password_repeat.errors %}
                        <ul>
                            {% for error in form.new_password_repeat.errors %}
                            <li class="my-error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-1"></div>
                </div>
            </form>
            <div class="row">
                <div class="col-lg-3 col-md-2 col-sm-1"></div>
                <div class="col-lg-6 col-md-8 col-sm-10 my-img-area">
                    <img class="rounded mx-auto d-block img-thumbnail" 
                    src="{{ url_for('static', filename='images/user_password.jpg') }}" alt="User password photo">
                </div>
                <div class="col-lg-3 col-md-2 col-sm-1"></div>
            </div>
        </div>
    </div>
{% endblock content %}